body {
  background-color: #14b89d;
  margin: 0;
  padding: 0;
}

fieldset {
  min-width: 30em;
  max-width: 55vw;
  margin: 10px auto;
  padding: 20px;

  font-family: Noto sans, sans-serif;
  font-size: .9em;
  font-weight: 500;
  
  border: solid #fffff7;
  border-radius: 25px;

  background-color: #fffff7;
  ;
}

.title-card {
  display: block;
  width: 50%;
  max-width: 30%;
  margin: 3em auto 0 auto;
}

h1 {
  font-family: Optima, sans-serif;
  font-size: 1.3vw;
  color: #ffffff;

  text-align: center;
  padding: 0 0 2em 0;
}

.p-top {
  display: block;
  text-align: center;
  margin: 1vw auto 1vw auto;
  max-width: 65vw;

  font-family: Noto sans, sans-serif;
  color: #0d0d0d;
  font-size: 2em;
  font-weight: 900;
}

p {
  text-align: center;
  margin: 0 auto 3vh;
  max-width: 65vw;

  font-family: Noto sans, sans-serif;
  color: #0d0d0d;
  font-size: .9em;
}

label {
  display: block;
  margin: 0.2em 0 0.1em;
}

input, textarea, select {
  margin: 2px 0 1em 0;
  width: 100%;
  min-height: 2em;
}

.inline {
  display: inline-block;
  width: unset;
  margin: 0 0.5em 0 1em;
  vertical-align: middle;
}

.title-question {
  width: unset;
  margin: 0.5em 0.5em 0 0;
  vertical-align: middle;
}
